<footer class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="inner">
		<p class="footer-p">
			This webpage created by <a href="https://github.com/chernobyl-pod" target="_blank">Chernobyl Pod, July 2016</a>
		</p>
	</div>
</footer>
