<header class="masthead-clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<h3 class="hidden-xs hidden-sm hidden-md col-lg-6 col-xl-6">Current List:
		<span class="label label-default"><%=household%></span>
	</h3>
	<h4 class="col-xs-6 col-sm-6 col-md-6 hidden-lg hidden-xl">
		<%=household%>
	</h4>
	<div class="header-buttons col-xs-6 btn-group btn-group-lg pull-right" role="group" aria-label="Basic example">
		<form class="recipes col-xs-3 col-lg-3" action="/" method="get">
			<input type="submit" name="recipes" value="List" class="btn btn-primary">
		</form>
		<form class="recipes col-xs-3 col-lg-3" action="/recipes" method="get">
			<input type="submit" name="recipes" value="Recipes" class="btn btn-primary">
		</form>
	</div>

</header>
