<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-header">
		<a class="navbar-brand">Current list: <%=household%></a>
	</div>
	<div class="btn-group" role="group" aria-label="...">
  		<a href="/"><button type="button" class="btn btn-primary">View List</button></a>
  		<a href="/recipes"><button type="button" class="btn btn-primary">View Recipes</button></a>
  	</div>
	<div class="dropdown">
		<%- include("_dropdown.ejs"); %>
	</div>
</nav>
