<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-header col-xs-4">
		<a class="navbar-brand">Current list: <%=household%></a>
		<%- include("_dropdown.ejs"); %>
	</div>
	<div class="container col-xs-8">
		<div class="col-xs-6 navbar-right">
			<a class="btn btn-primary col-xs-6"href="/">View List</a>
			<a class="btn btn-primary col-xs-6"href="/recipes">View Recipes</a>
		</div>
	</div>
</nav>
