<header class="masthead-clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
	<h3 id="headline" class="hidden-xs col-sm-3 col-md-6 col-lg-6 text-center">
		Some Title Here
	</h3>
	<p id="extraSmallHeadline" class="col-xs-6 hidden-sm hidden-md hidden-lg text-left">
		Some Title Here
	</p>
</header>
