<header class="sub-header">
	<div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<form class="logout" action="/logout" method="get">
			<input class="btn btn-success col-xs-3" type="submit" name="logout" value="Log Out">
		</form>
		<form class="change" action="/households" method="get">
			<input class="btn btn-success col-xs-3" type="submit" name="change" value="Change">
		</form>
		<form class="addhousehold" action="/addhousehold" method="get">
			<input class="btn btn-success col-xs-3" type="submit" name="joinhousehold" value="Join">
		</form>
		<form class="newhousehold" action="/newhousehold" method="get">
			<input class="btn btn-success col-xs-3" type="submit" name="newhousehold" value="Create">
		</form>
	</div>
</header>
