<%- include("_head.ejs",{pgtitle:"Add New Item"}); %>
            <header class="masthead-clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="hidden-xs col-lg-6">Current List:
                    <span class="label label-default">household</span>
                </h3>
                <h4 class="col-xs-6 hidden-lg">
                    household
                </h4>
                <form class="recipes col-xs-6 col-lg-6" action="/recipes" method="get">
                    <input type="submit" name="recipes" value="Recipes" class="recipes btn btn-primary col-xs-12 col-lg-12">
                </form>
            </header>
            <div class="site-wrapper-inner">
                <header class="sub-header">
                    <div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <form class="logout" action="/logout" method="get">
                            <input class="btn btn-success col-xs-3" type="submit" name="logout" value="Log Out">
                        </form>
                        <form class="change" action="/households" method="get">
                            <input class="btn btn-success col-xs-3" type="submit" name="change" value="Change">
                        </form>
                        <form class="addhousehold" action="/addhousehold" method="get">
                            <input class="btn btn-success col-xs-3" type="submit" name="joinhousehold" value="Join">
                        </form>
                        <form class="newhousehold" action="/newhousehold" method="get">
                            <input class="btn btn-success col-xs-3" type="submit" name="newhousehold" value="Create">
                        </form>
                    </div>
                </header>

            <div class="col-xs-12 col-lg-6">
                <h1 class="col-lg-12">Search</h1>
                <fieldset class="item-type col-xs-12 col-lg-12">
                    <form class="api-search" action="/addnewitem/search_api_item" method="post">
                        <input type="text" name="search" placeholder="Search">
                        <label for="num_results">#</label>
                        <input type="number" name="num_results" placeholder="10">
                        <input type="submit" name="submit" value="Submit" id="api_search" class="col-xs-12 col-lg-8 btn btn-primary">
                    </form>
                </fieldset>
                <br>
                <br>
                <h1 class="col-lg-12">Add Custom Item</h1>
                <fieldset class="item-type col-xs-12 col-lg-12">
                    <form class="item-name" action="/addnewitem/add_item" method="post">
                        <input type="text" name="item_name" placeholder="Item Name">
                        <label for="item_qty">Qty</label>
                        <input type="number" name="item_qty" placeholder="1">
                        <input type="submit" name="add-item-to-list" value="Add" class="col-xs-12 col-lg-8 btn btn-primary">
                    </form>
                </fieldset>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <% if(typeof product != "undefined") { %>
                        <% product.products.forEach(function(item){ %>
                            <form class="item-name" action="/addnewitem/select" method="post">
                                <img name="chosen_url" src=<%=item.image%>>
                                <input type="submit" name="chosen_name" value="<%=item.title%>">
                            </form>
                        <%  })} %>
                    </div>
                </div>

                <footer class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="inner">
                        <p class="footer-p">
                            This webpage created by
                            <a href="https://github.com/chernobyl-pod">Chernobyl Pod, July 2016</a>
                        </p>
                    </div>
                </footer>
            </div>
<%- include("_footer.ejs"); %>
