<!DOCTYPE html>
<html>
    <head>
        <title>Add New List Item</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header class="masthead-clearfix">
            <form class="logout" action="/logout" method="get">
                <input type="submit" name="logout" value="Log Out">
            </form>
            <form class="change" action="/index" method="get">
                <input type="submit" name="change" value="Change Household">
            </form>
        </header>
        <div class="api">
            <fieldset>
                <form class="api-search" action="/addnewitem/search_api_item" method="post">
                    <input type="text" name="search" value="Search">
                    <input type="number" name="num_results" value="10">
                    <input type="submit" name="submit" value="Submit" id="api_search">
                </form>
            </fieldset>
        </div>
        <div class="container-fluid">
            <h1>Add Custom Item</h1>
            <div class="item-type col-xs-12">
                <fieldset class="col-xs-12">
                    <form class="item-name" action="/add_item" method="post">
                        <input type="text" name="item_name" value="Item Name">
                        <input type="number" name="item_qty" value="">
                </fieldset>
            </div>
        </div>
        <footer class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <input type="submit" name="add-item-to-list" value="Add">
            </form>
        </footer>

    </body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>
