	<!DOCTYPE html>
	<html>
		<head>
			<title>Landing</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
			<link rel="stylesheet" href="../public/style.css">
		</head>
		<body>
			<div class="main col-xs-12">

				<form class="formyform" action="/login" method="get">
					<input type="submit" class="btn btn-primary col-xs-6" name="name" value="Sign In">
				</form>
				<form class="formyform" action="/register" method="get">
					<input type="submit" class="btn btn-primary col-xs-6" name="name" value="Register">
				</form>
			</div>



		</body>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</html>
