<!DOCTYPE html>
<html>
    <head>
        <title>Landing</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container-fluid">
            <header class="masthead-clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h3 id="headline" class="hidden-xs col-sm-3 col-md-6 col-lg-6 text-center">
                    Some Title Here
                </h3>
                <p id="extraSmallHeadline" class="col-xs-6 hidden-sm hidden-md hidden-lg text-left">
                    Some Title Here
                </p>
				<p class="hidden-xs col-sm-3 col-md-3 col-lg-3">
					<!-- hidden, for bootstrap grid -->
				</p>
				<p class="hidden-xs col-sm-3 hidden-md hidden-lg">
					<!-- hidden, for bootstrap grid -->
				</p>
                <div class="contact btn-group btn-btn-group-md col-xs-6 col-sm-3 col-md-3 col-lg-3" role="group">
                    <button type="button" id="nav-link-a" class="btn btn-default">About</button>
                    <button type="button" id="nav-link-b" class="btn btn-default">Contact</button>
                </div>
            </header>
            <div class="site-wrapper-inner col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="inner-cover col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="landing col-xs-12 col-lg-12">
                        <form class="landing-form" action="/login" method="get">
                            <input type="submit" class="btn btn-primary btn-lg btn-block col-xs-6" name="name" value="Sign In">
                        </form>
                        <form class="landing-form" action="/register" method="get">
                            <input type="submit" class="btn btn-primary btn-lg btn-block col-xs-6" name="name" value="Register">
                        </form>
                    </div>
                </div>

                <footer class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="inner">
                        <p class="footer-p">
                            This webpage created by Chernobyl Pod, July 2016
                        </p>
                    </div>
                </footer>

            </div>
		</div>
			<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        </body>
    </html>
