<%- include("_head.ejs", {pgtitle:'Household Shopping Aid'}); %>
            <header class="masthead-clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 id="headline" class="hidden-xs col-sm-3 col-md-3 col-lg-3 text-center">
                    Some Title Here
                </h3>
                <p id="extraSmallHeadline" class="col-xs-6 hidden-sm hidden-md hidden-lg text-left">
                    Some Title Here
                </p>
            </header>
            <div class="site-wrapper-inner col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="inner-cover col-xs-12 col-sm-4 col-md-4 col-lg-12">
                    <div class="landing col-xs-12 col-lg-12">
                        <form class="landing-form" action="/login" method="get">
                            <input type="submit" class="btn btn-primary btn-lg btn-block col-xs-6" name="name" value="Sign In">
                        </form>
                        <form class="landing-form" action="/register" method="get">
                            <input type="submit" class="btn btn-primary btn-lg btn-block col-xs-6" name="name" value="Register">
                        </form>
                    </div>
                </div>

                <footer class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="inner">
                        <p class="footer-p">
                            This webpage created by <a href="https://github.com/chernobyl-pod">Chernobyl Pod, July 2016</a>
                        </p>
                    </div>
                </footer>

            </div>
<%- include("_footer.ejs") %>
