<%- include("_head.ejs", {pgtitle: "Select Household"}); %>
        <header class="header">
            <h1>Join a Household</h1>
        </header>
        <main class="container-fluid">
            <ul>
                <% households.forEach(function(house) { %>
                    <li>
                        <%= house.name %>
                        <form class="addhouse" action="/addhousehold/<%= house.id %>" method="post">
                            <input type="submit" name="name" value="Join Household">
                        </form>
                    </li>
                <% }); %>
            </ul>

<%- include("_footer.ejs"); %>
