<%- include("_head.ejs", {pgtitle:'Sign In'}); %>
<%- include("_headergeneric.ejs"); %>
<div class="site-wrapper-inner">
    <form class="form btn-group col-xs-12" action="/login" method="post">
        <div class="form-group">
            <label for="email" >Email</label>
            <input type="text" name="email" value="" class="col-xs-12">
        </div>
        <div class="form-group">
            <label for="password" >Password</label>
            <input type="password" name="password" value="" class="col-xs-12">
            <input class="btn btn-primary btn-block" type="submit" value="Submit">
        </div>
    </form>
    <div class="bad-login">
      <% if (!match) { %>
        <h3>Invalid Email or Password. Please try again.</h3>
      <% } %>
    </div>

</div>

<%- include("_about.ejs"); %>
<%- include("_footer.ejs") %>
