<%- include("_head.ejs", {pgtitle: "My Household"}); %>

            <div class="site-wrapper-inner">
                <header class="sub-header">
                    <div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <form class="logout" action="/logout" method="get">
                            <input class="btn btn-success col-xs-3" type="submit" name="logout" value="Log Out">
                        </form>
                        <form class="change" action="/households" method="get">
                            <input class="btn btn-success col-xs-3" type="submit" name="change" value="Change">
                        </form>
                        <form class="addhousehold" action="/addhousehold" method="get">
                            <input class="btn btn-success col-xs-3" type="submit" name="joinhousehold" value="Join">
                        </form>
                        <form class="newhousehold" action="/newhousehold" method="get">
                            <input class="btn btn-success col-xs-3" type="submit" name="newhousehold" value="Create">
                        </form>
                    </div>
                </header>
                <form class="add col-xs-6 col-lg-6" action="/addnewitem" method="get">
                    <input type="submit" name="add-item" value="Add" class="button-special btn btn-primary">
                </form>
                <form class="delete-all col-xs-6 col-lg-6" action="/delete" method="post">
                    <input type="submit" value="Delete All" class="button-special btn btn-primary">
                </form>
                <div class="recipe-row col-xs-12">
                    <fieldset class="col-xs-12">
                        <ul class="col-xs-12" id="socketMessages">
                            <% groceries.forEach(function(gro){ %>
                                <li>
                                    <h3><%= gro.name %></h3>
                                    <form class="delete" action="/delete/<%=gro.name%>" method="post">
                                        <input type="submit" name="delete" value="Delete" class="button-delete btn btn-warning">
                                    </form>
                                </li>
                            <% }); %>
                        </ul>
                    </fieldset>
                </div>
                <footer class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="inner">
                        <p class="footer-p">
                            This webpage created by <a href="https://github.com/chernobyl-pod">Chernobyl Pod, July 2016</a>
                        </p>
                    </div>
                </footer>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.js"></script>
            <script src="/socket.js"></script>      
<%- include("_footer.ejs"); %>
