<!DOCTYPE html>
<html>
<head>
	<title>My Household</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>
		<body>
			<header class="links-top">
				<form class="logout" action="/logout" method="get">
					<input type="submit" name="logout" value="Log Out">
			</form>
				<form class="change" action="/index" method="get">
					<input type="submit" name="change" value="Change Household">
				</form>
			</header>
			<main class="container-fluid">
				<div class="recipe-row col-xs-8">
					<fieldset class="col-xs-12">
						<%# this ejs function generates the list for the user needs to be tied into backend%>
							<% items.forEach(function(item){ %>
									<ul class="col-xs-12">
											<li>
													<h3><%= item.title %></h3>
											</li>
									</ul>
							<% }); %>
					</fieldset>
				</div>
				<div class="recipe-button-row col-xs-4">
					<fieldset class="clear-buttons">
						<%# this ejs function populates a delete button for each item, needs to be tied into backend%>
							<% items.forEach(function(item){ %>
								<ul class="col-xs-12">
									<li>
											<form class="delete" action="/delete" method="post">
												<input type="submit" name="delete" value="Delete">
											</form>
									</li>
								</ul>
							<% }); %>
					</fieldset>
				</div>
			</main>

		</body>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>
