<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style.css">
    <title>Register</title>
  </head>
  <body>
    <div class="main col-xs-12">
      <form class="" action="/register" method="post">
        <label for="email">E-Mail Address</label>
        <input type="text" name="email" value="name@example.com">
        <label for="username">Name</label>
        <input type="text" name="username" value="Bangarang Clipperbroke">
        <label for="password">Password</label>
        <input type="password" name="password" value="">
        <label for="repeatpassword">Repeat Your Password</label>
        <input type="password" name="repeater" value="">
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
