.homeform {
  text-align: center;
  padding: 25% 25%;
}

div {
	background-image: url('bg-1920-1080-8.jpg');
  height: 720px;
}

.header {
	position: fixed;
	margin-top: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	z-index: 10;
	color: black;
	background-color: grey;
	opacity: 0.8;
	text-align: center;
}
