body {
    background: no-repeat center/80% url("bg-1920-1080-8.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.add-custom-item {
    margin: 10px 0;
    height: 40px;
    clear: both;
}

.generic {
    top: 0;
}

.container-fluid{
    min-height: 900px;
    margin-top: 120px;
	margin-bottom: 60px;
    overflow: hidden;
}

.button-special {
    margin: 3% 5%;
    padding: 2% 5%;
}

.button-delete {
    margin-top: 4%;
}

button{
    margin-top: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  z-index: 10;
}


.footer-p {
	font-size: 16px;
}

figcaption{
	font-size: 8px;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style-type: none;
}
