body {
    background: no-repeat center/80% url("bg-1920-1080-8.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.add-custom-item {
    margin: 10px 0;
    height: 40px;
    clear: both;
}

.contact {
    line-height: 60;
    margin-top: 15px;
}

.container-fluid{
    min-height: 900px;
    margin-top: 80px;
	margin-bottom: 60px;
    overflow: hidden;
}

.button-special {
    margin: 3% 5%;
    padding: 5% 5%;
}

.button-delete {
    margin-top: 4%;
}

.masthead-clearfix {
	position: fixed;
	top: 0;
    left: 0;
	height: 70px;
	line-height: 60px;
	background-color: #212121;
	color: #E0F2F1;
	z-index: 10;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  z-index: 10;
}

.contact {
    right: 0;
}

#extraSmallHeadline{
	font-size: 12px;
}

.footer-p {
	font-size: 16px;
}

.inner-cover{
	text-align: center;
	padding: 5% 1%;
}

figcaption{
	font-size: 8px;
}

a {
	text-decoration: none;
	color: black;
	border-radius: 4px;
	padding: 0 4px;
}

p{
	font-size: 18px;
}

li {
	list-style-type: none;
}
